.footer-footer {
  background-color: var(--dl-color-scheme-black);
}
.footer-max-width {
  height: 479px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.footer-bottom-container {
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.footer-left-side {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-image {
  width: 173px;
  height: 121px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-text {
  color: var(--dl-color-scheme-white);
  max-width: 350px;
  margin-bottom: 60px;
  text-transform: none;
}
.footer-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text03 {
  color: var(--dl-color-scheme-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-icon {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon:hover {
  fill: var(--dl-color-scheme-pink);
  cursor: pointer;
}
.footer-icon4 {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.footer-icon4:hover {
  fill: var(--dl-color-scheme-pink);
  cursor: pointer;
}
.footer-links {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text04 {
  color: var(--dl-color-scheme-white);
  cursor: default;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
}
.footer-container2 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text09 {
  color: var(--dl-color-scheme-white);
  cursor: default;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-threeunits);
}
.footer-copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.footer-text13 {
  color: #ffffff;
}
.footer-text14 {
  color: var(--dl-color-scheme-white80);
  font-size: 14px;
  text-transform: none;
}
.footer-root-class-name {
  margin-top: 0px;
}
@media(max-width: 991px) {
  .footer-bottom-container {
    flex-direction: column-reverse;
  }
  .footer-left-side {
    width: 100%;
  }
  .footer-links {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .footer-root-class-name {
    margin-top: 600px;
  }
}
@media(max-width: 767px) {
  .footer-root-class-name {
    height: auto;
    align-self: center;
    margin-top: 600px;
  }
}
@media(max-width: 479px) {
  .footer-links {
    flex-wrap: wrap;
  }
  .footer-container1 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .footer-text04 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-container2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .footer-text09 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-root-class-name {
    margin-top: 1800px;
  }
}
