<div>
  <link href="./speaker-card3.css" rel="stylesheet" />
  <div class="speaker-card3-speaker-card">
    <div class="speaker-card3-image-container">
      <img
        alt="image"
        src="../public/playground_assets/peep%20%5B5%5D-300h.png"
        class="speaker-card3-image"
      />
      <div class="speaker-card3-read-more-container"></div>
    </div>
    <span class="speaker-card3-first-name"><span>Jonathan</span></span>
    <span class="speaker-card3-last-name"><span>carey</span></span>
    <span class="speaker-card3-text"><span>Volunteer</span></span>
  </div>
</div>
