<div>
  <link href="./speaker-card2.css" rel="stylesheet" />
  <div class="speaker-card2-speaker-card">
    <div class="speaker-card2-image-container">
      <img
        alt="image"
        src="../public/playground_assets/peep%20%5B3%5D-300h.png"
        class="speaker-card2-image"
      />
      <div class="speaker-card2-read-more-container"></div>
    </div>
    <span class="speaker-card2-first-name"><span>Jonathan</span></span>
    <span class="speaker-card2-last-name"><span>carey</span></span>
    <span class="speaker-card2-text"><span>Volunteer</span></span>
  </div>
</div>
