<div>
  <link href="./speaker-card4.css" rel="stylesheet" />
  <div class="speaker-card4-speaker-card">
    <div class="speaker-card4-image-container">
      <img
        alt="image"
        src="../public/playground_assets/peep%20%5B7%5D-300h.png"
        class="speaker-card4-image"
      />
      <div class="speaker-card4-read-more-container"></div>
    </div>
    <span class="speaker-card4-first-name"><span>Jonathan</span></span>
    <span class="speaker-card4-last-name"><span>carey</span></span>
    <span class="speaker-card4-text"><span>Volunteer</span></span>
  </div>
</div>
